* {
    margin: 0;
    padding: 0;
}
.header {
    min-height: 45vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 40, 233, 0.25), rgba(0, 40, 233, 0.25)), url(images/mae-mu-8GzmzEyLNyc-unsplash.jpg);
    background-size: cover;
    position: relative;
    border-bottom-style: solid;
    border-color: #f44336;
    border-width: 6px;
}
nav {
    width: 80%;
    margin: auto;
    padding: 2% 6%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 100px;
}
.text-box p {
    font-style: italic;
    font-size: 14px;
    color: #fff;
    margin: 1px 0px 10px;
}
.about-us   {
    width: 80%;
    margin: auto;
    padding: 50px;
}
.about-us h2 {
    text-align: center;
    padding-bottom: 20px;

}
.about-us p {
    text-indent: 30px;

}
.about-image {
    flex-basis: 48%;
    background-image: linear-gradient(rgba(0, 40, 233, 0.25), rgba(0, 40, 233, 0.25));
    background-size: cover;
    position: relative;
    border-bottom-style: solid;
    border-color: #f44336;
    border-width: 6px;
}
.about-text {
    flex-basis: 48%;
}
.our-bagels {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 40, 233, 0.25), rgba(0, 40, 233, 0.25)), url(images/no-revisions-Vn_j28AxFL0-unsplash3.png);
    background-size: cover;
    position: relative;
    border-bottom-style: solid;
    border-color: #f44336;
    border-width: 6px;
}
.product-heading,
.product-listing {
    width: 80%;
    margin: auto;
}



footer  {
    width: 80%;
    margin: auto;
}
footer h3 {
    margin-bottom: 1%;
    margin-top: 1%;
    font-weight: 700;
    color: #f44336;
}
.rows {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.address-telephone h4 {
    margin-bottom: 1%;
}